CREATE TABLE IF NOT EXISTS study_routines ( id UUID DEFAULT uuid_generate_v4() PRIMARY KEY, user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE, child_id UUID REFERENCES children(id) ON DELETE CASCADE, title TEXT NOT NULL, description TEXT, day TEXT NOT NULL, time TEXT NOT NULL, duration TEXT, subject TEXT, completed BOOLEAN DEFAULT false, created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP ); CREATE INDEX IF NOT EXISTS study_routines_user_id_idx ON study_routines(user_id); CREATE INDEX IF NOT EXISTS study_routines_child_id_idx ON study_routines(child_id); CREATE INDEX IF NOT EXISTS study_routines_day_idx ON study_routines(day); ALTER TABLE study_routines ENABLE ROW LEVEL SECURITY;
